[submodule "pkg/fish-systemd"]
	path = pkg/fish-systemd
	url = https://github.com/wawa19933/fish-systemd
[submodule "pkg/fish-gencomplete"]
	path = pkg/fish-gencomplete
	url = https://github.com/slavaGanzin/fish-gencomplete
[submodule "pkg/replace_multiple_dots.fish"]
	path = pkg/replace_multiple_dots.fish
	url = https://github.com/masa0x80/replace_multiple_dots.fish
[submodule "pkg/fish-jupyter-completions"]
	path = pkg/fish-jupyter-completions
	url = https://github.com/lwolfsonkin/fish-jupyter-completions
[submodule "pkg/getopts.fish"]
	path = pkg/getopts.fish
	url = https://github.com/jorgebucaran/getopts.fish
[submodule "pkg/fish-colored-man"]
	path = pkg/fish-colored-man
	url = https://github.com/decors/fish-colored-man
[submodule "pkg/fish-docker-compose"]
	path = pkg/fish-docker-compose
	url = https://github.com/decors/fish-colored-man
[submodule "pkg/fish-autovenv"]
	path = pkg/fish-autovenv
	url = https://github.com/matthewess/fish-autovenv
